Flask==0.12.2
dkimpy==0.8.1
email-reply-parser==0.5.12
flanker==0.4.38
imaplib2==2.45.0
numpy==1.14.5
psutil==5.4.6
pyjwt==1.7.1
requests==2.18.4
scikit-learn==0.19.1
scipy==1.1.0
validate-email==1.3
